.card {
  display: block;
  padding: 0 26px 25px;
  margin: 0 auto;
  width: 600px;
  height: auto;
  background-color: #222936;
  border: 0.5px solid #EAEAEA30;
  border-radius: 8px;
}

.formRow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;

}

.signForm {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}

.signForm__title {
  font-family: 'Roboto', monospace;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.81);
  text-align: center;
}

.signForm__fieldset {
  margin-bottom: 12px;
  width: 100%;
  height: unset;
  gap: 16px;
}

.signForm__legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Roboto', monospace;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.81);
  text-align: center;
}

.signForm__info {
  margin-top: 27px;
  text-align: center;
  font-family: 'Roboto', monospace;;
}

.signForm__text {
  color: rgba(255, 255, 255, 0.81);
  font-size: 14px;
}

.signForm__link {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
}

.signForm__link--muted {
  display: block;
  margin-top: 8px;
  text-align: center;
  opacity: 0.81;
}

