.button {
  display: block;
  height: 36px;
  padding: 8px 25px;
  text-align: center;
  font-family: 'Roboto', monospace;;
  font-weight: 700;
  color: #ffffff;
  background-color: #3369F3;
  border: 0.5px solid #EAEAEA30;
  border-radius: 8px;
}

